body.login div#login h1 a {
    background-image: url(images/envelope.png);
    padding-bottom: 30px;
}
body.login div#login p#nav a,
body.login div#login p#backtoblog a {
    color: #ff6822 !important; /* Your link color. */
}

body.login div#login form#loginform p.submit input#wp-submit, .wp-core-ui .button-primary {
	background-color: #ff6822 !important;
	text-shadow: 0 -1px 1px #e04010 , 1px 0 1px #e04010 , 0 1px 1px #e04010 , -1px 0 1px #e04010  !important;
	border-color: #f05a14 !important;
	box-shadow: 0 1px 0 #e04010 !important;
}

body.login div#login form#loginform input:focus, .login form .input, .login input[type=text]:focus {
	
	border-color: #ff6822 !important;
	box-shadow: 0 0 2px #ffa460 !important;
}



