MMSServer/logs/*
MMSServer/target/classes/META-INF/maven/ch.qos.logback/logback-classic/pom.properties
MMSServer/target/classes/META-INF/maven/ch.qos.logback/logback-classic/pom.properties
*/bin/*
*.class
.idea/*
session-count.csv
/.metadata/

**/.idea/*
**/MC_MMS.iml
**/target/lib/**
**/target/generated-sources/**
**/target/classes/**

MMSServer/target/logs/
/.metadata/

/.metadata/

**/target/lib/**
**/target/generated-sources/**
**/target/classes/**
