<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/mms/logs/mms-server.html</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
            <fileNamePattern>/var/mms/logs/mms-server.html.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
 
 			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            	<maxFileSize>3MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>  <!-- keep 30 days history -->
        </rollingPolicy>
 
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
     		<layout class="ch.qos.logback.classic.html.HTMLLayout">
            	<pattern>%d{HH:mm:ss.SSS}%thread%-5level%logger{35}%msg</pattern>
            </layout>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG"> <!-- Log level must be in uppercase. e.g. TRACE, DEBUG, INFO, WARN, ERROR -->
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/> 
    </root>

</configuration>
