[
	{rabbit, [
		{loopback_users, []},
		{vm_memory_high_watermark, 0.4}
		]
	},
	{rabbitmq_management,
  		[{listener, [{port,     15672},
               {ssl,      true},
	               {ssl_opts, [{cacertfile, "/etc/rabbitmq/ssl/mms-kaist_com.ca-bundle.pem"},
                           {certfile,   "/etc/rabbitmq/ssl/mms-kaist_com.crt.pem"},
                           {keyfile,    "/etc/rabbitmq/ssl/mms-kaist_com.key.pem"}]}

	]}
  ]}
].
